### Java template
*.class

# properties
*.properties

# kts
*.kts
 
# Package Files #
*.jar
*.war
*.ear
 
### macOS template
*.DS_Store
.AppleDouble
.LSOverride
 
# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

# VS Code
/.vscode/
 
# Compliled files
/target/
**/target
 
/example/
 
# Gradle
.gradle
**/gradle/
/build/
.gradletasknamecache
gradlew
gradlew.bat

